Source: salt-formula-ccp
Maintainer: tcpcloud <cloud@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-ccp
Vcs-Git: https://github.com/tcpcloud/salt-formula-ccp.git

Package: salt-formula-ccp
Architecture: all
Depends: ${misc:Depends}
Description: ccp salt formula
 Install and configure ccp system.
